<div style='display: flex; margin-bottom:10px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px;'>
  <div>
    <h3 style='color: rgb(120, 120, 120); margin-bottom:6px;'>{{job['title']}}</h3>
  
    <div style='margin-bottom: 4px'>
      <b>Location: </b>{{job['location']}}
    </div>
  
    {% if 'salary' in job%}
      <div>
        <b>Salary: </b>{{job['salary']}}
      </div>
    {% endif %}
  </div>
  
  <div style='margin-left: auto; margin-bottom: 6px; margin-top: 25px; padding-bottom: 0px;'>
    <button type='button' style='color: #2f6eff; background: white; border: 1px solid #2f6eff; border-radius: 5px; padding: 5px 10px; margin-right: 10; cursor: pointer; '>Apply</button>
  </div>
</div>